@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"),
    url("iconfont.woff2") format("woff2"), url("iconfont.woff") format("woff"),
    url("iconfont.ttf") format("truetype"),
    url("iconfont.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 8px;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
#head {
  background-color: #32373e;
  height: 40px;
}
.headBar {
  width: 1200px;
  margin: 0 auto;
  line-height: 40px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
.flexLeft {
  flex: 1.3;
}
.flexRight {
  flex: 1;
}
.lagou-icon {
  width: 42px;
  height: 21px;
  margin-top: 9px;
  padding-right: 12px;
  background: url(./img/sprite_361857f.png) -10px -10px no-repeat;
  background-size: 64px 128px;
  display: inline-block;
}
.headBar a {
  color: #afb5c0;
}
.station {
  color: #0dca9f;
  padding: 0 12px 0 20px;
}
.changeStation {
  font-size: 12px;
}
.changeStation:hover {
  color: #fff;
}

.indexLi,
.indexLi li {
  display: inline-block;
  padding: 0 21px;
  height: 100%;
}
.indexLi li :hover {
  color: #fff;
}
.indexLi li:nth-child(5) {
  position: relative;
}
.indexLi li:nth-child(5) span {
  display: inline-block;
  position: absolute;
  width: 29px;
  top: 3px;
  right: -6px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 16px;
  padding-bottom: 2px;
  background-color: #ff7452;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}
.barRight {
  text-align: right;
}
.barRight li {
  display: inline-block;
  padding: 0 8px;
  color: #afb5c0;
}
.barRight :nth-child(2) {
  margin-right: 12px;
}
.barRight :nth-child(3)::before {
  content: "";
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-image: url(./img/sprite_361857f.png);
  background-position: -76px -136px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.barRight :nth-child(4) {
  padding: 0;
}
.barRight :nth-child(5) {
  margin-right: 12px;
}
.barRight :nth-child(6)::before {
  content: "";
  display: block;
  float: left;
  width: 12px;
  height: 17px;
  margin-right: 4px;
  margin-top: 11px;
  background-image: url(./img/sprite_361857f.png);
  background-repeat: no-repeat;
  background-position: -64px -212px;
}

.barRight :nth-child(6) {
  color: #0dca9f;
}
.barRight :nth-child(1) :hover {
  color: #fff;
}
.barRight :nth-child(3):hover::before {
  background-position: -76px -174px;
}
.barRight :nth-child(3) :hover {
  color: #fff;
}
.barRight :nth-child(5):hover::before {
  background-position: -76px -174px;
}
.barRight :nth-child(5) :hover {
  color: #fff;
}
.barRight :nth-child(6):hover::before {
  background-position: -96px -212px;
}
.barRight :nth-child(6) :hover {
  color: #00b38a;
}
.barRight :nth-child(7) :hover {
  color: #fff;
}
#title {
  height: 120px;
  background-color: #00b38a;
}
.titleBar {
  width: 1200px;
  margin: 0 auto;
}
.titleBar .leftImg {
  height: 120px;
}
.titleBar .rightImg {
  height: 30px;
  position: relative;
  bottom: 50px;
}
.rightImgBox {
  display: inline-block;
  text-align: center;
  font-style: 10px;
  position: relative;
}
.rightImgBox span {
  position: absolute;
  left: 0;
  top: -12px;
  font-size: 14px;
  color: #fff;
}
.inputBar {
  float: right;
  position: relative;
}
.inputBar input {
  line-height: 30px;
  padding-left: 5px;
  width: 150px;
  margin-top: 40px;
  margin-left: 20px;
  outline: none;
}
.inputBar :nth-child(2) {
  width: 110px;
}
.inputBar div {
  display: inline-block;
  position: relative;
  top: 1px;
  height: 30px;
  width: 40px;
  line-height: 27px;
  margin-left: -6px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
}
.inputBar div a {
  color: #00b38a;
  font-size: 12px;
}
.inputBar button {
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
  outline: none;
  height: 32px;
  width: 110px;
  background-color: #00b38a;
  color: #fff;
}
#search {
  height: 132px;
  background-color: #f2f5f4;
  position: relative;
}
.search-bar {
  padding-top: 20px;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  position: relative;
  /* line-height: 46px; */
}
.search-bar input {
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
  width: 795px;
  height: 46px;
  margin: 0 auto;
  border: none;
  outline: #00b38a none 1px;
  /* position: relative; */
}
.search-btn {
  display: inline-block;
}
.search-bar button {
  position: relative;
  top: 2px;
  margin: 0;
  padding: 0;
  width: 142px;
  height: 46px;
  margin-left: -10px;
  border: 1px solid #00b38a;
  outline: none;
  background-color: #00b38a;
  color: #fff;
  font-size: 18px;
}
.search-bar-completion {
  width: 800px;
  height: 320px;
  top: 68px;
  left: 129px;
  background-color: #fff;
  position: absolute;
  z-index: 11;
  display: none;
}
.search-info {
  display: flex;
  font-size: 16px;
  text-align: left;
  height: 32px;
  line-height: 16px;
}
.search-info:hover .job {
  color: #fff;
}
.search-info:hover .job-number span {
  color: #fff;
}
.search-info:hover {
  background-color: #00b38a;
  color: #fff;
}
.search-info .job {
  flex: 1;
  padding-left: 10px;
  margin-top: 8px;
  color: #555;
}
.job-number {
  margin-top: 8px;
  width: 160px;
  border-right: 1px dashed #afb5c0;
  text-align: right;
}
.job-number span {
  color: #00b38a;
}
.nbsp {
  margin-top: 8px;
  width: 60px;
  text-align: middle;
  padding-left: 20px;
  color: #777;
  vertical-align: middle;
}

.search-bar:hover .search-bar-completion {
  display: block;
  z-index: 15;
}

.search-bar .search-text,
.search-bar a {
  position: relative;
  top: 5px;
  right: 293px;
  font-size: 14px;
  color: #00b38a;
  margin-left: 10px;
}
.search-bar .search-text {
  color: #777;
  font-size: 14px;
}

#container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.menubox {
  /* width: 300px; */
}
.menu {
  /* margin-bottom: 0px; */
  /* display: inline-block; */
  /* width: 300px; */
  position: relative;
}
.menu:first-child {
  margin-top: 30px;
}
.menu-first {
  background-color: #fff;
  width: 321px;
  height: 46px;
  position: relative;
  margin-bottom: 3px;
  /* z-index: 11; */
  /* hove效果shadow */
}
.menu:hover {
  box-shadow: 0px 0px 10px#cfcfcf;
  width: 320px;
}
.menu:hover .menu-first {
  z-index: 16;
}
.menu ul li a:hover {
  color: #00b38a;
  text-decoration: underline;
}

.menu-first li {
  font-size: 18px;
  display: inline-block;
  padding-top: 9px;
  padding-left: 15px;
  color: #333;
}
.menu-first li a {
  font-size: 14px;
  color: #555;
}
.menu-first li:last-of-type {
  position: relative;
  left: 20px;
  color: #777;
}
.img-cpn {
  display: inline-block;
  flex: 1;
  text-align: right;
  position: relative;
  top: 40px;
  /* bottom: 364px; */
  /* right: 160px;  */
  /* z-index: -2; */
}
.img-cpn img {
  width: 830px;
  height: 346px;
}

.menu-second {
  padding: 10px;
  box-shadow: 0px 0px 10px#cfcfcf;
  background-color: #fff;
  width: 779px;
  /* height: 568px; */
  position: absolute;
  top: 0px;
  left: 320px;
  /* z-index: 1; */
  display: none;
}
.menu:hover .menu-second {
  display: block;
  z-index: 1;
}
.menu-second p {
  padding: 20px 20px 0px 20px;
  color: #333;
  display: absolute;
}
.menu-second ul li {
  padding-bottom: 20px;
  font-size: 14px;
  list-style: none;
  display: inline-block;
  color: #555;
  padding-top: 9px;
  padding-left: 15px;
}
.menu-second ul ::after {
  content: " |";
  color: #cfcfcf;
}
/* .menu-second ul :last-child ::after {
  content: "";
} */
#current-hot {
  padding-top: 50px;
  padding-left: 30px;
  width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  /* height: 1500px; */
  /* display: flex; */
}
.current-title {
  border-bottom: 1px solid #e8e8e8;
  /* border-bottom: 1px solid black; */
  width: 1185px;
}
.hot,
.newjob {
  display: inline-block;
  padding-bottom: 14px;
}
.hot {
  margin-right: 58px;
  color: #333;
  border-bottom: solid 2px #333;
}
.newjob {
  color: #999;
}
.current-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.boxes {
  flex: 1;
  width: 389px;
  height: 200px;
  border: 1px solid #eaeeed;
  margin-top: 16px;
  /* flex-grow: 0; */
  /* padding-right:19px; */
  margin-right: 16px;
  /* box-shadow: 0 0 10px 0 rgba(56,81,76,.12);  hover*/
}
.boxes:hover {
  box-shadow: 0 0 10px 0 rgba(56, 81, 76, 0.12);
}
.box-cont {
  width: 351px;
  margin: 0 auto;
}
.titleA {
  display: inline-block;
  color: #333;
  width: 132px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px 0px 10px 0px;
  white-space: nowrap;
}
.publish-icon {
  display: inline-block;
  position: relative;
  height: 0;
}
.publish {
  vertical-align: top;
  display: inline-block;
  color: #999;
  font-size: 14px;
  padding: 20px 0px 10px 0px;
}
.chat-img {
  display: inline-block;
  /* line-height: 14px; */
  width: 16px;
  height: 16px;
  position: relative;
  top: -13px;
  margin-right: 44px;
  cursor: pointer;
}
.chat-active {
  cursor: pointer;
  position: absolute;
  left: 39px;
  top: -46px;
  width: 312px;
  height: 132px;
  padding: 16px;
  border: 1px solid #dce4e6;
  background-color: #fff;
  display: none;
}
.publish-icon:hover .chat-active {
  display: block;
}
.chat-left {
  display: inline-block;
}
.chat-right {
  display: inline-block;
}
.active-img {
  /* cursor: pointer; */
  width: 62px;
  height: 62px;
  border-radius: 50%;
  /* overflow:hidden; */
}
.chat-title {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}
.chat_title_name {
  font-size: 18px;
  line-height: 30px;
  color: #333;
}
.chat_title_info {
  color: #999;
  font-size: 14px;
}
.chat-info {
  font-size: 14px;
  width: 182px;
  margin-right: 9px;
  color: #555;
}
.triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 32px;
  left: -9px;
  background-color: #fff;
  border-top: 1px solid #dce4e6;
  border-left: 1px solid #dce4e6;
  transform: rotate(-45deg);
}
.money {
  padding: 20px 0px 10px 0px;
  display: inline-block;
  vertical-align: top;
  color: #fa6041;
}
.title-label p {
  display: inline-block;
}
.demand {
  line-height: 0px;
  padding: 0px 0px 20px 0px;
  color: #777;
  font-size: 14px;
}
.title-label {
  padding: 0px 20px 20px 0px;
  border-bottom: 1px dotted #999;
}
.title-label p {
  margin-right: 6px;
  width: 73px;
  height: 28px;
  color: #999;
  border: 1px solid #999;
  font-size: 12px;
  line-height: 28px;
  vertical-align: middle;
  text-align: center;
}
.box-log {
  padding: 20px;
  margin-top: 40px;
}
.box-logo img {
  display: inline-block;
  padding: 20px 10px 0px 0px;
  width: 40px;
  height: 40px;
}
.logo-cpy {
  display: inline-block;
}
.cpy1 {
  color: #555;
  font-size: 14px;
}
.logo-cpy a .cpy1:hover {
  color: #00b38a;
}
.cpy2 {
  color: #999;
  font-size: 14px;
}
.current-btn {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.current-btn button {
  margin: 0;
  padding: 0;
  width: 384px;
  height: 42px;
  border: 1px solid #00b38a;
  color: #00b38a;
  background-color: #fff;
  margin-top: 16px;
  position: relative;
  left: -8px;
}
.current-btn:hover button {
  color: #fff;
  background-color: #00b38a;
}
#hot-company {
  width: 1200px;
  margin: 0 auto;
  margin-top: 52px;
  /* padding:0px 0px 14px 0px; */
}
.company-title {
  /* padding: 14px 0px; */
  font-size: 16px;
  color: #333;
  /* margin-bottom: 14px; */
  height: 51px;
  width: 128px;
  border-bottom: 2px solid #333;
}
.title-box {
  border-bottom: 1px solid #e8e8e8;
}
.company-box {
  display: flex;
  flex-wrap: wrap;
  width: 1216px;
  height: 572px;
}
.com-boxes {
  flex: 1;
  width: 288px;
  height: 270px;
  margin: 16px 16px 0px 0px;
  border: 1px solid #e8e8e8;
}
.com-boxes:hover {
  box-shadow: 0 0 10px 0 rgba(56, 81, 76, 0.12);
}
.com-cont {
  width: 260px;
  margin: 0 auto;
  text-align: center;
  /* height: 202px; */
}
.box-top {
  width: 260px;
  height: 167px;
  margin: 0 auto;
  padding: 20px 0px 14px 0px;
  border-bottom: 1px dashed #e0e0e0;
}
.com-cont img {
  width: 80px;
  height: 80px;
}
.com-name {
  color: #333;
  font-size: 16px;
  margin-top: 13px;
}
.com-class {
  font-size: 14px;
  color: #999;
  margin-top: 3px;
}
.com-explain {
  font-size: 14px;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}
.box-bottom {
  width: 260px;
  margin: 0 auto;
}
.bottom-left,
.bottom-middle {
  margin-top: 15px;
  width: 80px;
  height: 35px;
  border-right: 1px solid #e0e0e0;
  display: inline-block;
  /* line-height: 35px; */
}
.bottom-right {
  width: 80px;
  height: 35px;
  margin-top: 15px;
  display: inline-block;
}
.left-num,
.middle-num,
.right-num {
  color: #00b38a;
  font-size: 14px;
}
.left-text,
.middle-text,
.right-text {
  color: #999;
  font-size: 12px;
}
.left-text:hover {
  color: #00b38a;
}
.middle-text:hover {
  color: #00b38a;
}
.right-text:hover {
  color: #00b38a;
}
.more {
  text-align: center;
  margin-top: 16px;
}
.more button {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #00b38a;
  width: 387px;
  height: 42px;
  margin: 0 auto;
  color: #00b38a;
}
.more button:hover {
  color: #fff;
  background-color: #00b38a;
}
#friend-link {
  width: 1200px;
  margin: 0 auto;
}
.link-box {
  border-bottom: 1px solid #e8e8e8;
  margin-top: 50px;
}
.link-title {
  width: 72px;
  height: 22px;
  padding: 14px 0;
  border-bottom: 2px solid #333;
}
.link-cont {
  display: inline-block;
  width: 1120px;
  height: 30px;
  margin-top: 16px;
  overflow: hidden;
}
.link-cont a :hover {
  color: #00b38a;
}
.link-cont p {
  display: inline-block;
  padding: 8px 18px 8px 0;
  /*padding-right: 18px;
  */
  color: #555;
  font-size: 14px;
}
.extend {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  margin-top: 16px;
  color: #999;
  font-size: 14px;
  margin-left: 46px;
}
.extend :hover .link-cont {
  height: 175px;
}
/* .extend i{
  background-image: url(./img/arrow_down2_eea7e54.png);
  background-repeat: no-repeat;
  background-position: 0 3px;
  background-size: 12px 6px;
  width: 12px;
  height: 12px;
  margin-left: 5px;
} */
#footer {
  clear: both;
}
.footer-line {
  margin-top: 80px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}
#footer {
  padding-top: 100px;
  width: 1200px;
  /* height: 300px; */
  margin: 0 auto;
  margin-bottom: 90px;
}
.footer-left {
  display: inline-block;
  width: 182px;
  height: 170px;
  padding-right: 130px;
  border-right: 1px solid #e8e8e8;
}
.footer-app button,
.footer-miniapp button {
  margin: 0;
  padding: 0;
  border: 1px solid #00b38a;
  background-color: #fff;
  color: #00b38a;
  width: 182px;
  height: 42px;
  margin-bottom: 16px;
  font-size: 14px;
  outline: none;
  position: relative;
}
.footer-app button:hover {
  background-color: #00b38a;
  color: #fff;
}
.footer-miniapp button:hover {
  background-color: #00b38a;
  color: #fff;
}
.mina {
  width: 140px;
  height: 140px;
  top: 0;
  left: 190px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  display: none;
}
.footer-miniapp button:hover .mina {
  display: block;
}
.contact {
  font-size: 14px;
  color: #555;
}
.weixin {
  margin-right: 65px;
  color: #555;
  position: relative;
}
.weixin:hover {
  color: #00b38a;
}
.weixin:hover .weixin-pic {
  display: block;
}
.weixin-pic {
  width: 140px;
  height: 140px;
  top: 25px;
  left: 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  display: none;
}
.weibo {
  color: #555;
}
.weibo:hover {
  color: #00b38a;
}
.footer-right {
  display: inline-flex;
  vertical-align: top;
  width: 881px;
  height: 170px;
}
.serve {
  /* border:1px solid black; */
  display: inline-block;
  flex: 1;
  margin-left: 130px;
}
.serve-title {
  color: #555;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}
.serve-cont p {
  white-space: nowrap;
  color: #555;
  font-size: 14px;
  margin-bottom: 14px;
}
.serve-cont :hover p {
  color: #00b38a;
}
#copyright {
  width: 100%;
  height: 100px;
  background-color: #fafafa;
}
.copyright-cont {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  color: #999;
  font-size: 14px;
  line-height: 100px;
}
.copyright-cont span a {
  color: #999;
}
.copyright-cont span a:hover {
  color: #555;
}
.beian {
  margin-right: 20px;
}
.police {
  border: 1px solid #d5dadf;
  display: inline-block;
  font-size: 12px;
  color: #999;
  line-height: 14px;
  margin-left: 20px;
  padding: 8px 20px;
  vertical-align: middle;
}
.police-info {
  display: inline-block;
}
.footer-lagou-icon {
  display: inline-block;
  width: 198px;
  height: 19px;
  background: url(./img/footer_lagou_icon_75f0ebc.png) 0 0 no-repeat;
  text-align: center;
  position: relative;
  top: 8px;
}
.copyright-cont-left {
  flex: 1;
}
.copyright-cont-right {
  width: 198px;
}
.sprite-gongan {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(./img/sprite_9dd5c92.png) -150px -184px no-repeat;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.sprite-jubao {
  display: inline-block;
  width: 20px;
  height: 24px;
  background: url(./img/sprite_9dd5c92.png) -132px -20px no-repeat;
  margin-right: 10px;
  margin-bottom: 6px;
}
.gotop {
  width: 28px;
  height: 46px;
  position: fixed;
  right: 280px;
  bottom: 175px;
  background-image: url(./img/backtop-new_0e4bcbc.png);
}
.gotop:hover {
  background-position: -38px 0px;
}

/* web页面css样式 */
/* 搜索栏 */
.search_wrapper {
  height: 180px;
  width: 100%;
  background: #f2f5f4;
  margin-bottom: 35px;
}
.zhaopin_search_bar {
  width: 958px;
  margin-left: 351px;
  padding-top: 30px;
}
.search_bar_tab {
  margin-bottom: 13px;
}
.search_bar_tab button {
  margin: 0;
  padding: 0;
  background-color: #00b38a;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 5px 8px 5px 10px;
}
.search_bar_tab p {
  display: inline-block;
  color: #999;
  padding: 7px 10px;
}
.search_input_bar {
  display: flex;
}
.search_input {
  height: 20;
  padding: 12px 15px;
  border: 1px solid #e8e8e8;
  flex: 1;
}
.search_input_bar button {
  width: 142px;
  height: 46px;
  padding: 15px 55px;
  margin: 0;
  background-color: #00b38a;
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
}
.related_search,
.related_search li {
  display: inline-block;
  margin-top: 5px;
}
.related_title {
  color: #777;
  font-size: 14px;
  margin: 5px 10px 0 0;
}
.related_search li a {
  font-size: 14px;
  margin-right: 22px;
  color: #999;
}
#filter {
  width: 1200px;
  margin: 0 auto;
}
.filter_wrapper {
  width: 958px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  position: relative;
}
.workplace {
  color: #555;
  font-size: 14px;
  padding: 6px 16px 10px;
  margin-top: 6px;
}
.workplace_title {
  font-weight: 600;
  margin-right: 8px;
}
.workplace li {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 5px 0;
}
.workplace li a {
  padding: 4px 8px;
  font-size: 14px;
  color: #555;
}
.workplace li:hover a {
  background-color: #00b38a;
  color: #fff;
}
.workplace li .all {
  padding: 3px 6px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
}
.multi_chosen li {
  display: inline-block;
}

.multi_chosen {
  color: #555;
  font-size: 14px;
  padding: 6px 16px 10px;
  margin-top: 6px;
}
.chosen_title {
  font-weight: 600;
  margin-right: 8px;
}
.multi_chosen li {
  display: inline-block;
  /* height: 14px; */
  line-height: 9px;
  padding: 5px 0;
}
.multi_chosen li a {
  padding: 4px 8px;
  font-size: 14px;
  color: #555;
}
.multi_chosen li:hover a {
  background-color: #00b38a;
  color: #fff;
}
.multi_chosen .chosen_active a {
  padding: 4px 8px;
  color: #fff;
  background-color: #00b38a;
}
.chosen_active a {
  color: #fff;
}
.workplace_more {
  position: absolute;
  top: 14px;
  right: 38px;
  color: #555;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  z-index: 10;
}
.workplace_more i {
  position: absolute;
  width: 0;
  height: 0;
  top: 7px;
  right: -17px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #00b38a;
  transition: 0.5s;
  /* overflow: hidden; */
}

.chosen_more {
  position: absolute;
  top: 223px;
  right: 38px;
  color: #555;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
}
.chosen_more i {
  position: absolute;
  width: 0;
  height: 0;
  top: 7px;
  right: -17px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #00b38a;
  transition: 0.5s;
}
/* hover 地区 */
.workplace_more:hover + .other_place {
  display: block;
}
.workplace_more:hover i {
  transform: rotate(180deg);
}
.other_place {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  display: none;
}
.other_place_ul,
.other_place_ul_bottom {
  width: 926px;
  color: #555;
  font-size: 14px;
  padding: 6px 16px 10px;
  margin-top: 6px;
  border-bottom: 1px dashed #ededed;
}
.other_place_title {
  font-weight: 600;
  margin-right: 8px;
}
.other_place_ul li,
.other_place_ul_bottom li {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 5px 0;
}
.other_place_ul li a,
.other_place_ul_bottom li a {
  padding: 4px 8px;
  font-size: 14px;
  color: #555;
}
.other_place_ul li:hover a {
  background-color: #00b38a;
  color: #fff;
}
.other_place_ul li .other_all {
  padding: 3px 6px;
  background-color: #00b38a;
}
.other_place_ul_bottom li:hover a {
  background-color: #00b38a;
  color: #fff;
}
.collapse {
  /* margin-left: 40px; */
  width: 17px;
  height: 38px;
  background: #fafafa;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  transform: rotate(-90deg);
  border: 1px solid #ededed;
  border-right: none;
  color: #ededed;
  padding-left: 2px;
  position: relative;
  bottom: 11px;
  left: 39%;
}
.order {
  width: 958px;
  height: 45px;
  margin-top: 9px;
  background-color: #fafafa;
  border: 1px solid #ededed;
}
.item_order {
  display: inline-block;
  margin-right: 35px;
  margin-left: 16px;
  line-height: 35px;
}
.order_title {
  display: inline-block;
  color: #555;
  font-weight: 600;
  padding: 5px 8px;
  font-size: 14px;
}
.order_title a {
  margin-right: 5px;
  padding: 3px 8px;
  color: #555;
  font-weight: normal;
}
.order_title .order_default {
  color: #fff;
  background: #00b38a;
  margin-left: 7px;
}
.salary {
  display: inline-block;
}
.salary_title {
  color: #555;
  font-weight: 600;
  padding: 5px 8px;
  font-size: 14px;
}
.salary_select {
  outline: none;
  width: 80px;
  border: 1px solid #f3f3f3;
  height: 28px;
}

.type {
  display: inline-block;
}
.type_title {
  color: #555;
  font-weight: 600;
  padding: 5px 8px;
  font-size: 14px;
  margin-left: 50px;
}
.type_select {
  outline: none;
  width: 80px;
  border: 1px solid #f3f3f3;
  height: 28px;
}

.items {
  width: 958px;
  height: 122px;
  color: #555;
  border: 1px solid #ededed;
  margin-top: 18px;
}
.item_top {
  width: 928px;
  height: 68px;
  padding: 14px 15px 0;
}
.item_top_cont {
  display: inline-block;
}
.item_title {
  /* vertical-align: top; */
}
.item_title .title_name {
  margin: 0;
  font-size: 16px;
  color: #00b38a;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item_place {
  font-size: 16px;
  color: #00b38a;
}
.item_date {
  margin: 0 3px;
  font-size: 14px;
  color: #999;
}
.item_salary {
  font-size: 16px;
  color: #fd5f39;
  margin-right: 10px;
}
.title_bot {
  /* height: 24px; */
  /* line-height: 24px; */
  margin-top: 12px;
  font-size: 14px;
  color: #555;
}
.company {
  display: inline-block;
  vertical-align: top;
  width: 303px;
  margin-right: 15px;
  /* margin-left: 233px; */
}
.com_name {
  font-size: 16px;
  color: #00b38a;
}
.industry {
  font-size: 14px;
  margin-top: 15px;
  color: #555;
}
.com_logo {
  display: inline-block;
}
.com_logo a img {
  vertical-align: top;
  display: inline-block;
  width: 62px;
  height: 62px;
  border: 1px solid #f5f5f5;
  position: relative;
  /* left:56px; */
  top: -37px;
}
.item_bot {
  width: 958px;
  height: 40px;
  background: #fafafa;
  line-height: 40px;
}
.item_top_cont {
  width: 528px;
}
.bot_cont_left {
  display: inline-block;
  padding-left: 15px;
  width: 528px;
}
.bot_cont_right {
  display: inline-block;
}
.bot_cont_left span {
  border: 1px solid #afb5c0;
  font-size: 12px;
  color: #555;
  padding-right: 5px;
  padding-left: 5px;
  /* height: 20px; */
  /* line-height: 20px; */
  border-radius: 3px;
  /* vertical-align: middle; */
  text-align: center;
}
.bot_cont_right {
  font-size: 14px;
  color: #555;
}
#recommend_com {
  margin-top: 30px;
}
.recommend_ul {
  margin-top: 10px;
  width: 910px;
  display: inline-block;
}
.recommend_ul li {
  display: inline-block;
}
.recommend_ul li a {
  font-size: 14px;
  margin-right: 32px;
  height: 22px;
  line-height: 22px;
  color: #00b38a;
  text-decoration: underline;
  cursor: pointer;
}
.ul_expand {
  font-size: 14px;
  color: #999;

  /* display: inline-block; */
}
#ad_box {
  float: right;
}
#ad_box img {
  display: block;
  margin-top: 15px;
}

/* web前端招聘页面css */
#banner {
  background: #f2f5f4;
  padding: 30px 0 11px;
  width: 100%;
}
.banner_content {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.banner_content_left {
  flex: 2.8;
}
.banner_content_right {
  flex: 1;
}
.banner_content_title h4 {
  margin: -2px 0 8px 0;
  font-size: 14px;
  font-weight: 400;
  color: #555;
}
.banner_content_title h1 {
  height: 36px;
  font-size: 36px;
  color: #333;
  line-height: 36px;
  font-weight: 400;
}
.banner_content_demand {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #555;
  margin-bottom: 8px;
}
.banner_salary {
  color: #fd5f39;
}
.banner_laber {
}
.banner_label span {
  height: 22px;
  line-height: 22px;
  margin-right: 8px;
  font-size: 12px;
  color: #70797b;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #fff;
  padding: 3px 10px;
}
.release {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
}
.deal {
}
.collect {
  display: inline-block;
  height: 44px;
  width: 104px;
  line-height: 44px;
  background: #ebf0ef;
  font-size: 14px;
  text-align: center;
  border: 1px solid #00b38a;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  color: #00b38a;
}
/* .collect::before{
  content:"\e909"
} */
.collect:hover {
  color: #00a57f;
  border-color: #00a57f;
}
.delivery {
  display: inline-block;
  margin-left: 17px;
  padding: 0 30px;
  border: 1px solid #00b38a;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #00b38a;
}
.delivery:hover {
  background-color: #00a57f;
  border-color: #00a57f;
}
.perfect {
  margin-top: 16px;
  margin-bottom: 11px;
  justify-content: flex-end;
}
.complete {
  color: #555;
  font-size: 14px;
  text-decoration: underline;
  margin-left: 10px;
}
/* .complete::before{
  content:"\e908"
} */
.complete:hover {
  color: #00a57f;
}
.resume_upload {
  color: #555;
  font-size: 14px;
  text-decoration: underline;
  margin-left: 35px;
}

.resume_upload:hover {
  color: #00a57f;
}
.tool_icon {
  margin-top: 10px;
  font-size: 27px;
  line-height: 20px;
  color: #c6ced0;
  cursor: pointer;
  float: right;
}
.tool_icon span {
  display: inline-block;
  padding-right: 11px;
  border-right: 1px solid;
}
.tool_icon span:last-child {
  border-right: none;
}
.related_content {
  clear: both;
  width: 1024px;
  margin: 0 auto;
}
.related_content_left {
  display: inline-block;
  padding: 26px 52px 0 0;
  width: 696px;
  background: url(./img/gradient_e624ed8.png) repeat-y;
  background-position: right;
  padding-right: 52px;
}
.job_advantage {
  padding: 15px 0 10px;
  color: #333;
  word-wrap: break-word;
}
.job_advantage .advantage {
  font-size: 16px;
  font-weight: 700;
}
.job_advantage p {
  margin-top: 13px;
  font-size: 14px;
}
.job_description {
  padding-top: 15px;
  color: #333;
  word-break: break-word;
}
.job_description p {
  font-size: 14px;
}
.address {
  padding-top: 25px;
  padding-bottom: 10px;
  color: #333;
  font-weight: 700;
  font-size: 16px;
}
.work_addr {
  font-size: 14px;
}
.work_addr a {
  color: #00a57f;
}
.work_addr a:hover {
  text-decoration: underline;
}
.work_map {
  float: right;
}
.publisher {
  clear: both;
  margin-top: 28px;
}
.publisher_box {
  margin-top: 15px;
  display: flex;
  padding: 14px 10px;
}
.publisher h3 {
  font-weight: 700;
  font-size: 16px;
}
.publisher_title {
  width: 209px;
  position: relative;
  left: -17px;
}
.publisher_title_icon {
  vertical-align: -10px;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  /* border-radius: 50%; */
  text-align: center;
  color: #ffc45d;
  font-size: 26px;
  background: url(./img/publisher_c5b292d.png) no-repeat;
}
.title_cont {
  display: inline-block;
  position: relative;
}
.title_cont p {
  color: #999;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 7px;
}
.chat_me_icon {
  display: inline-block;
  position: relative;
  top: 6px;
  left: -5px;
  width: 25px;
  height: 25px;
  margin: 8px 0 0 5px;
  background: url(./img/icon-chat_4a70ffc.png) no-repeat 0 0;
  cursor: pointer;
}
.tips_text {
  position: absolute;
  top: -16px;
  left: 62px;
  width: 312px;
  height: 123px;
  padding: 16px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #dce4e6;
  box-shadow: 1px 1px 2px #f2f2f2;
  z-index: 1001;
  display: none;
}
.tips_text span {
  display: inline-block;
  width: 110px;
  height: 88px;
  font-size: 14px;
  word-break: break-word;
  margin-right: 80px;
  vertical-align: top;
}
.tips_text_triangle {
  position: absolute;
  top: 33px;
  left: -8px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-left: 1px solid #dce4e6;
  border-top: 1px solid #dce4e6;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.chat_me_icon:hover + .tips_text {
  display: block;
}
.publisher_data {
  padding-left: 27px;
  padding-right: 23px;
  border-right: 1px solid #d5dadf;
  width: 123px;
  display: inline-block;
  flex: 1;
}
.data_title {
  font-size: 14px;
  color: #555;
  margin: 0 auto;
  /* max-width: 100px; */
  padding-right: 5px;
  padding-bottom: 4px;
  text-align: center;
}
.data_title_icon {
  display: inline-block;
  width: 15px;
  height: 16px;
  margin-left: 2px;
  background: url(./img/icon-mark_fc1e516.png) no-repeat 0 0;
  vertical-align: sub;
  cursor: pointer;
}
.data_state {
  font-size: 16px;
  color: #333;
  margin-top: 2px;
  margin-bottom: 3px;
  text-align: center;
}
.data_tip {
  font-size: 12px;
  color: #999;
}
.data_tip span {
  color: #fd5f38;
}
.last {
  padding-left: 27px;
  padding-right: 0;
  border-right: 0;
  text-align: center;
}
.evaluation {
  margin-top: 40px;
}
.evaluation_cont {
  border-top: 1px solid #e8e8e8;
  position: relative;
}
.evaluation_cont p {
  margin: 80px 0;
  text-align: center;
  font-size: 14px;
  color: #555;
}
.evaluation_icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(./img/unhappy_d9b5db5.png);
  vertical-align: middle;
  margin-right: 15px;
}
.evaluation_cont .title_absolute {
  background: #fff;
  padding-right: 16px;
  font-size: 18px;
  position: absolute;
  top: -92px;
  left: 0;
}
.popular_recom {
  font-size: 14px;
  position: relative;
}
.recom_title {
  color: #bebebe;
}
.recom_ul,
.recom_ul li {
  display: inline-block;
}
.recom_ul li a {
  color: #999;
  margin-left: 27px;
  text-decoration: underline;
}
.recom_expansion {
  position: absolute;
  top: 0;
  right: 12px;
  color: #bebebe;
}
.recom_expansion i {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-left: 2px;
  background: url(./img/arrow_down_c415674.png) 0 0 no-repeat;
}
.related_content_right {
  display: inline-block;
  vertical-align: top;
  margin-top: 45px;
  margin-left: 31px;
}
.content_r_head {
  margin-bottom: 25px;
}
.content_r_head img {
  width: 96px;
  height: 96px;
  border: 2px solid #f2f2f2;
}
.content_r_head span {
  font-size: 18px;
  color: #555;
  padding-left: 5px;
}
.content_r_head span i {
  display: inline-block;
  width: 16px;
  height: 18px;
  margin-left: 0;
  background: url(./img/approve_aae725a.png) 0 0 no-repeat;
  vertical-align: bottom;
}
.feature {
  margin-bottom: 50px;
}
.feature_ul li {
  font-size: 14px;
  margin: 0 0 16px;
  color: #737373;
  line-height: 25px;
}
.feature_ul:last-child :hover {
  color: #00a57f;
}
.similar_job {
  border-top: 1px solid #ededed;
  position: relative;
}
.similar_job h3 {
  color: #555;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  padding-right: 10px;
  top: -14px;
  left: 0;
  background-color: #fff;
}
.similar_box {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
.similar_ul li img {
  display: inline-block;
  width: 56px;
  height: 56px;
}
.similar_ul li {
  padding: 12px 0 14px;
  border-bottom: 1px dashed #e5e5e5;
}
.similar_ul li a .similar_title {
  width: 167px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #333;
}
.similar_salary {
  color: #e6675c;
  font-size: 16px;
}
.similar_com {
  width: 167px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #999;
  font-size: 12px;
}
.similar_footer {
  display: block;
  color: #555;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  background-color: #fafafa;
  text-align: center;
}
.similar_footer:hover {
  color: #00a57f;
}
.similar_footer i {
  position: relative;
  background: url(./img/similar_position_triangle_544444c.png) no-repeat 0 0;
  height: 13px;
  width: 7px;
  display: inline-block;
  top: 1px;
  left: 20px;
}

/* 收钱吧css */
.top_info {
  width: 1024px;
  height: 164px;
  margin: 0 auto;
  border: 1px solid #eaeaea;
  background: #fff;
}
.top_info img {
  display: inline-block;
  width: 164px;
  height: 164px;
  border-right: 1px solid #eaeaea;
}
.top_info_box {
  display: inline-block;
  vertical-align: top;
}
.com_main {
  display: inline-block;
  height: 81px;
  padding: 20px 20px 0;
}
.main_title {
  color: #555;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}
.main_title i {
  display: inline-block;
  position: relative;
  top: -6px;
  left: -5px;
  width: 14px;
  height: 12px;
  margin: 10px 8px 0 5px;
  background: url(./img/icons1_b3ea05c.png) no-repeat 0 0;
  cursor: pointer;
}
.certification {
  padding: 5px 10px;
  margin-left: 6px;
  color: #fff;
  background-color: #00b38a;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 14px;
  position: relative;
  top: -4px;
}
.certification i {
  display: inline-block;
  width: 16px;
  height: 18px;
  background: url(./img/approve_ad3ed9a.png) 0 0 no-repeat;
  color: #fff;
  vertical-align: middle;
  padding-right: 5px;
  position: relative;
  top: -1px;
}
.com_main p {
  color: #555;
  padding-top: 8px;
}
.certification_data {
  overflow: hidden;
  background: #fafafa;
  margin-left: -4px;
}
.certification_ul {
  height: 47px;
  width: 858px;
  padding: 8px 0;
}
.certification_ul li {
  display: inline-block;
  line-height: 24px;
  width: 120px;
  text-align: center;
  border-right: 1px solid #ededed;
}
.certification_ul li strong {
  font-size: 18px;
  font-weight: 100;
  color: #555;
}
.certification_ul li p {
  font-size: 12px;
  color: #b7b7b7;
}
.tip {
  display: inline-block;
  width: 20px;
  height: 15px;
  background: url(./img/publisher_data_tip_af42c15.png) right center no-repeat;
  vertical-align: -3px;
  margin-left: -6px;
}
.nav {
  width: 100%;
  background: #f2f5f4;
}
.nav_bar {
  width: 1024px;
  margin: 0 auto;
  height: 54px;
  display: flex;
}
.nav_bar_ul {
  padding: 12px 2px;
  flex: 1;
}
.nav_bar_ul li {
  font-size: 18px;
  display: inline-block;
  margin-right: 35px;
  padding-bottom: 16px;
}
.nav_bar_ul li a {
  color: #999;
}
.nav_bar_ul li:nth-child(1) {
  color: #333;
  border-bottom: 2px solid #00b38a;
}
.nav_bar_ul li:last-child {
  position: relative;
}
.nav_bar_ul li:last-child i {
  display: inline-block;
  width: 38px;
  height: 20px;
  background: url(./img/news_tip_a426ee1.png) no-repeat 0 0;
  position: absolute;
  top: -6px;
  right: -41px;
}
.nav_bar_share {
  padding-top: 9px;
  width: 121px;
}
.nav_bar_share span {
  vertical-align: 4px;
  font-size: 14px;
  color: #999;
}
.share_box {
  display: inline-flex;
}
.share_weibo {
  flex: 1;
  width: 28px;
  height: 28px;
  background: url(./img/css_sprites_c518bff.png) -203px -14px no-repeat;
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  border-right: 0;
}
.share_wechat {
  flex: 1;
  width: 28px;
  height: 28px;
  background: url(./img/css_sprites_c518bff.png) -203px -49px no-repeat;
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  border-right: 0;
}
.small_program {
  flex: 1;
  width: 28px;
  height: 28px;
  background: url(./img/css_sprites_c518bff.png) -280px -14px no-repeat;
  background-color: #fafafa;
  border: 1px solid #eaeaea;
}
.com_product {
  display: flex;
  padding: 40px 0;
  border-top: 1px solid #e8e8e8;
  margin-top: 15px;
  position: relative;
}
.com_product img {
  width: 300px;
  height: 180px;
}
.product_cont_box {
  flex: 1;
  padding-left: 15px;
}
.cont_title {
  color: #555;
  font-size: 18px;
}
.cont_title i {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: url(./img/icons1_b3ea05c.png) 0 0 no-repeat;
  vertical-align: middle;
  margin-left: 6px;
}
.product_cont_box span {
  display: inline-block;
  font-size: 12px;
  margin-top: 5px;
  padding: 0px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.product_cont {
  font-size: 14px;
  margin-top: 10px;
  color: #555;
  line-height: 22px;
}
.com_product_title {
  position: absolute;
  padding-right: 16px;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  top: -12px;
  left: 0;
}
.com_introduced {
  position: relative;
  padding: 40px 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
}
.com_introduced_title {
  position: absolute;
  padding-right: 16px;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  top: -12px;
  left: 0;
}
.com_video {
  margin-bottom: 40px;
}
.com_video video {
  width: 480px;
  height: 270px;
  margin-left: 120px;
}
.com_introduced_cont {
  color: #555;
  font-size: 14px;
}
.com_introduced_cont a {
  color: #555;
}
.com_introduced_cont a:hover {
  color: #00b38a;
}
.com_introduced_cont_pack {
  font-size: 14px;
  color: #00b38a;
  text-decoration: underline;
}
.com_introduced_img {
  margin-top: 30px;
}
.com_introduced_img img {
  width: 480px;
  height: 340px;
  margin-left: 120px;
}
.com_history {
  position: relative;
  padding: 40px 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
}
.history_title {
  position: absolute;
  padding-right: 16px;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  top: -12px;
  left: 0;
}
.history_ul {
  margin-left: 60px;
}
.history_ul li {
  margin-bottom: 26px;
  display: flex;
  position: relative;
}

.history_date {
  width: 70px;
  margin-right: 18px;
}
.history_day {
  color: #555;
  font-size: 18px;
  text-align: right;
}
.history_mon {
  color: #555;
  font-size: 14px;
  text-align: right;
  white-space: nowrap;
}
.history_icon {
  width: 53px;
  height: 53px;
  background: url(./img/his_icons_bb9597a.png) -5px -19px no-repeat;
  background-color: #fff;
  position: relative;
  top: -2px;
}
.history_describe {
  flex: 1;
  margin: 0px 0 0 12px;
  width: 790px;
}
.describe_title {
  color: #555;
  font-size: 16px;
}
.describe_cont {
  font-size: 14px;
  color: #999;
}
.describe_cont::after {
  content: "";
}
.describe_cont::before {
  content: "";
}
.icon_vertical {
  display: block;
  position: absolute;
  left: 114px;
  bottom: -50px;
  width: 1px;
  height: 100%;
  background-color: #ededed;
}
.hr_evaluation {
  position: relative;
  padding: 40px 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
  padding-bottom: 40px;
  border-bottom: 1px dashed #dce4e6;
}
.evaluation_title {
  position: absolute;
  padding-right: 16px;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  top: -12px;
  left: 0;
}
.overall {
  margin-bottom: 15px;
}
.overall_title {
  font-size: 14px;
  color: #333;
  margin-right: 3px;
}
.stars_static {
  display: inline-block;
  width: 125px;
  height: 23px;
  background: url(./img/star_164398f.png) 0 23px;
}
.stars_static span {
  display: inline-block;
  width: 112px;
  height: 23px;
  background: url(./img/star_164398f.png) -1px 46px;
}
.overall_scores {
  color: #fd5f39;
  margin-right: 10px;
  font-size: 24px;
}
.overall_count {
  color: #999;
  font-size: 14px;
}
.overall_ul li {
  display: inline-block;
}
.overall_ul_title {
  color: #999;
  font-size: 14px;
  vertical-align: 3px;
}
.overall_ul_stars {
  display: inline-block;
  margin-left: 8px;
  width: 109px;
  height: 20px;
  background: url(./img/star_s_a5b6ed7.png) 0 20px;
}
.overall_ul_stars span {
  display: inline-block;
  width: 99px;
  height: 20px;
  background: url(./img/star_s_a5b6ed7.png) 0px 41px;
}
.ul_scores {
  font-size: 14px;
  color: #fd5f39;
  vertical-align: 3px;
}
.ul_separate {
  height: 14px;
  margin: 3px 19px;
  border-left: 1px solid #dce4e6;
}
.reviews {
  margin-top: 10px;
  padding-bottom: 40px;
}
.reviews_ul {
  margin-top: 14px;
}
.reviews_ul li {
  padding: 26px 0;
  border-bottom: 1px dashed #dce4e6;
}

.reviews_header {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.reviews_header img {
  width: 50px;
  height: 50px;
}
.reviews_li_right {
  vertical-align: top;
  display: inline-block;
}
.reviews_stars {
  margin-bottom: 10px;
}
.reviews_stars_title {
  color: #555;
  width: 42px;
  font-size: 14px;
  margin-right: 35px;
}
.reviews_stars_box_title {
  color: #999;
  font-size: 14px;
}
.reviews_stars_box {
  vertical-align: -3px;
  display: inline-block;
  width: 109px;
  height: 20px;
  background: url(./img/star_s_a5b6ed7.png) -1px 40px;
  margin-right: 27px;
}
.job_name {
  color: #555;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.job_status {
  color: #999;
  font-size: 14px;
}
.reviews_date {
  color: #999;
  font-size: 12px;
  text-align: right;
}
.reviews_tag_box {
  margin-bottom: 10px;
}
.reviews_tag {
  vertical-align: 3px;
  display: inline-block;
  padding: 1px 10px;
  margin-right: 10px;
  border: 1px solid #dce4e6;
  font-size: 12px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.message_box {
  margin-bottom: 2px;
}
.reviews_message {
  color: #555;
  font-size: 14px;
}
.reviews_helpful a {
  font-size: 14px;
  color: #00b38a;
}
.view_more {
  margin: 30px auto 0;
  padding: 8px 15px;
  display: block;
  width: 60px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 14px;
  color: #00b38a;
  border: 1px solid #00b38a;
}
.view_more:hover {
  color: #fff;
  background-color: #00b38a;
}
.com_map {
  position: relative;
  padding: 40px 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
  background-color: #f5f5f5;
  width: 710px;
  height: 290px;
}
.map_title {
  position: absolute;
  padding-right: 16px;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  top: -12px;
  left: 0;
}
.container_right {
  width: 245px;
  float: right;
}
.basic_container {
  position: relative;
  padding: 40px 0 10px 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  margin-top: 40px;
}
.basic_title {
  white-space: nowrap;
  position: absolute;
  padding-right: 16px;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  top: -12px;
  left: 0;
}
.basic_ul {
  margin-left: 20px;
}
.basic_ul li {
  color: #555;
  font-size: 14px;
  position: relative;
  top: 2px;
  /* padding-bottom: 20px; */
  margin-bottom: 30px;
}
.basic_ul span {
  font-size: 16px;
}
.managers {
  position: relative;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  margin-top: 40px;
  text-align: center;
  padding-bottom: 60px;
  border-bottom: 1px solid #e8e8e8;
}
.managers_title {
  white-space: nowrap;
  position: absolute;
  padding-right: 16px;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  top: -12px;
  left: 0;
}
.rotate_item {
  padding-top: 30px;
}
.rotate_item img {
  width: 118px;
  height: 118px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.manager_name {
  font-size: 18px;
  color: #333;
}
.manager_name_tip {
  font-size: 14px;
  color: #999;
  margin: 10px 0 15px;
}
.manager_cont {
  font-size: 13px;
  color: #555;
}
.managers_switch_left {
  margin-left: 20px;
  display: inline-block;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 0;
  background: url(./img/switch_leader_c67a49a.png) 0 -33px no-repeat;
}
.managers_switch_right {
  display: inline-block;
  width: 23px;
  height: 23px;
  position: absolute;
  right: 20px;
  background: url(./img/switch_leader_c67a49a.png) -35px 0 no-repeat;
}
.managers_white {
  width: 100px;
  height: 20px;
  position: absolute;
  bottom: -10px;
  left: 72px;
  background-color: #fff;
}
.com_tags {
  position: relative;
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid #e8e8e8;
  margin-top: 60px;
  text-align: center;
}
.com_tags_title {
  white-space: nowrap;
  position: absolute;
  padding-right: 16px;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  top: -12px;
  left: 0;
}
.com_tags_ul {
  text-align: left;
}
.com_tags_ul li {
  color: #777;
  font-size: 12px;
  display: inline-block;
  height: 25px;
  padding: 0 9px;
  margin: 0 10px 10px 0;
  border: 1px solid #ededed;
  background-color: #fff;
  line-height: 25px;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.business {
  position: relative;
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid #e8e8e8;
  margin-top: 30px;
}
.business_title {
  white-space: nowrap;
  position: absolute;
  padding-right: 16px;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  top: -12px;
  left: 0;
}
.business_item{
  padding: 10px 0;
}
.business_item i img{
  width: 14px;
  height: 14px;
}
.business_box{
  vertical-align: -22px;
  display:inline-block;
  margin-left: 6px;
}
.business_box span{
  color:#333;
  font-size: 14px;
}
.business_box p{
  font-size: 14px;
  color:#666;
  padding-top: 5px;
}
.business_eye img{
 width: 75px;
}
.business_eye{
  margin-top: 10px;
}
.business_eye a{
  vertical-align: 3px;
  font-size: 14px;
  color: #555;
  padding-left: 6px;
  cursor: pointer;
  text-decoration: underline;
}
.navigator{
  margin-top: 30px;
}
.nav_item i{
  display: inline-block;
  width: 6px;
  height: 6px;
  border:2px solid ;
  background-color: #ededed;
  border:1px solid #ededed;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.nav_item em{
  display: inline-block;
  position: relative;
  top: 33px;
  left: -5px;
  width: 2px;
  height: 16px;
  background-color: #ededed;
  border-top-left-radius:2px;
  border-top-right-radius:2px ;
  margin-bottom: 13px;
}
.nav_item span{
  color:#333;
  font-size: 14px;
  padding-left: 13px;
}
.small_white{
  width: 10px;
  height: 20px;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
}